@media screen and (max-width: 1100px){
    .mobile_menu{
        display: inline-block !important;
    }

    .full-menu{
        display: none;
    }

    .row-2{
        grid-template-rows: unset;
    }

    .flex > a {
        margin-right: 1rem;
    }

}

@media screen and (max-width: 860px) {
    .row-2{
        grid-template-rows: 1fr 1fr;
    }

    .search{
        grid-area: 2 / 1 / 2 / 3;
    }
    
    .elgiganten{
        padding-left: none;
        grid-area: 1 / 1 / 1 / 4;
    }

    .icons{
        grid-area: 2 / 3 / 2 / 4;
    }

    .pd-2r{
        padding-right: 2rem;
    }

    .fa-undo{
        right: 1.5rem;
    }
}


@media screen and (max-width: 500px) {
    .icons{
        margin-right: 0;
    }
}
