*{
    margin: 0;
    padding: 0;

}

header{
    display: flex;
    justify-content: left;
    padding: 30px;
    background-color: burlywood;

}

header>a{
    padding-left: 40px;
    font-size: 30px;
}