*{
    padding: 0px;
    margin: 0px;
}

#nav-bar{
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.nav-buttons{
    background-color: aqua;
    color: black;
    padding-bottom: 20px;
    padding: 30px;
    font-size: 50px;
}