

.all{
    display: flex;
}

.linegrey{
    border-color: transparent;
    height: 0.750rem;
    width: 1px;
    top: 50%;
    margin-top: -6px;
}

span{
    margin: 0 16px;
    font-size: .875rem;
    border-bottom-width: 1px;
    letter-spacing:  .1em;
    line-height: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    
    
     
     }
     h2{
        font-size: .875rem;
        letter-spacing:  .1em;
        line-height: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: .25rem;
        margin: 8px 0 4px;
        font-family: Arial, Helvetica, sans-serif;
        
     }
     p{
         color: rgba(69,69,69);
     }


     a{
         text-decoration: none;
         color: black;
        

     }

.bilder{
    width: 33.333%;
    padding: 0 1rem 0 1rem;
    }

.newarrival{
    background-image: url(hp-newarrivals-37.jpg);
}

.borderleft{
    border-left: 1px solid rgba(210,210,210);
    
}

.imgsize{
    min-height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.oneguy {
    background-image: url(oneguy.jpg);
}

.glasguy {
    background-image: url(glasguy.jpg);
}
  .border-grey-light{
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-right: 2rem;
      margin-left: 2rem;
      color: rgba(210,210,210);
  }


.all2{display: flex;
    margin: 0px 0px 32px;
    padding: 0px 16px;

 }
.outlet{
     padding: 0 16px;
     width: 60%;
     background-size: cover;
    
 }

.bird{
    border-left: 1px solid rgba(210,210,210);
    padding: 0 30px 0 30px;
    width: 40%;
    background-size: cover;
}

.overlay {
    background-image: url(overlay.jpg);
    min-height: 450px;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 30px 0 30px;
}


.membership{
    background-image: url(membership2.jpg);
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
    padding: 0 1rem 0 1rem;
   
}
.borderunder{
    border-bottom: 1px solid rgba(210,210,210);
    margin: 0 16px;
    border-bottom-width: 1px;
    
}


         
         
@media (max-width: 768px) {

      .all{ 
      flex-direction: column;
        width: 100%;
       
      }
      .all2{ 
        
          width: 100%;
          flex-direction: column;
      }
      .bilder{
          width: 100%;
      }
      .outlet{
          width: 100%;
          padding: 0 0;
          border-left: none;

      }
       
      .bird{
          width: 100%;
          padding: 0 0;
          border-left: none;

      }
      .line{
          height: 0px;
      }
      .newarrival{
          border-left: none;
      }
     
}
    
    



