/* Detta är grunden av footern men mycket ändras i media.css då footern är väldigt responsiv :D*/
footer {
    background-color: rgb(249, 249, 249);
    font-size: .75rem;
    width: 100%;
}

.footer-content {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.countryselector {
    z-index: 10;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(9.875rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 2rem;
}

.flexnowrap {
    display: flex;
    flex-wrap: wrap;
}

.leftfooter {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    gap: 7rem;
}

.listspadding {
    padding-top: .5rem;
}

.socialspadding {
    padding-top: 1.5rem;
}

.mr {
    margin-right: 2.5rem;
}

.grid>div {
    min-width: 9.875rem;
}

.listtitles {
    padding-bottom: .875rem;
    font-family: "novecento medium";
    letter-spacing: .1em;
    line-height: 1.25rem;
    text-transform: uppercase;
    font-size: .875rem;
}

.grid>div>ul>li {
    margin-bottom: .5rem;
}

.rightfooter {
    order: -9999;
}

.lfpmt {
    padding-top: 1rem;
    margin-top: 1rem;
}

.ig,
.fb {
    font-size: 2rem;
}

.yt {
    font-size: 2rem;
}

.resp-svg {
    width: 10rem;
    height: 1rem;
    overflow: hidden;
}

.socials {
    margin-top: 5rem;
}

.spanselector span {
    letter-spacing: .05rem;
    line-height: 2rem;
    font-size: .875rem;
}

.c-text {
    letter-spacing: .05rem;
    color: rgba(177, 177, 177, 1);
}

.shippingfont {
    font-family: "novecento";
    font-size: 14px;
    text-transform: uppercase;
}