*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto';
}

.flex{
    display: flex;
}

.centered{
    justify-content: center;
    align-items: center;
}

.flex-left {
    justify-content: start !important;
}

.flex-right {
    justify-content: flex-end !important;
}

.lists{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    border-top: 1px solid rgb(210, 210, 210);
}

.mtb{
    margin: 0.5rem 0;
}

.width100{
    width: 100%;
}

.mb{
    margin-bottom: 2rem;
}