*{
    margin: 0;
    padding: 0;
}

.wh-100{
    width: 100%;
    height: 960px;
}

.ball{
    background-color: red;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    animation: move 10s linear infinite;
}

@keyframes move{
    0%{left: 0; top: 0;}
    11%{left: 840px; top: 0; opacity: 1;}
    12%{left: 840px; top: 0; opacity: 0;}
    20%{left: 1040px; top: 0; opacity: 0;}
    21%{left: 1040px; top: 0; opacity: 1;}
    25%{left: 1870px; top: 0;}
    50%{left: 1870px; top: 910px;}
    75%{left: 0; top: 910px;}
    100%{left: 0; top: 0;}
}

h1{
    width: 180px;
}

.middle{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fade-in-text {
    display: inline-block;
    color: black;
    animation: fadeIn 7s linear;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.bottomleft{
    width: 25px;
    height: 25px;
    font-size: 1px;
    background-color: royalblue;
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: width 2s, height 2s, font-size 2s;
}

.bottomleft:hover{
    width: 200px;
    height: 200px;
    font-size: 2em;
}

.bgcolor{
    animation: color 2s linear infinite;
}

@keyframes color{
    0%{background-color: red;}
    20%{background-color: blue;}
    40%{background-color: green;}
    60%{background-color: yellow;}
    80%{background-color: cyan;}
    100%{background-color: red;}
}

img{
    width: 100px;
    height: 80px;
    animation: isak 5s linear 2;
    position: fixed;
    bottom: 5px;
    right: 0;
}

@keyframes isak {
    0%{width: 100px; height: 80px;}
    50%{width: 200px; height: 160px;}
    100%{width: 100px; height: 80px;}
}

.flex{
    display: flex;
}