*{
    margin: 0%;
    padding: 0%;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.left-header{
    display: flex;
    align-items: center;
    padding-left: 3rem;
    font-size: 18px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav>div{
    padding: 0.5rem;
}
.right-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 3rem;
}

.right-header>img{
    width: 1.5rem;
    filter: invert(1);
}

.right-header>img,.right-header>div{
    padding: 1rem;
}

.arrow{
    width: 0.5rem; 
    transform: rotate(90deg); 
    filter: invert(1);
    padding-right: 15px;
}

main{
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25% 75%;
    margin-left: 3rem;
}

.topleft{
    display: flex; 
}

.genre{
    margin-left: 3rem;
    margin-top: 0.4rem;
    padding: 0.10rem 0.5rem 0.1rem 0.5rem;
    width: 8rem;
    border: 1px solid white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topright{
    display: grid;
    grid-template-columns: 80% 20%;
}    

.menu{
    width: 18px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    filter:invert(1);
    border: 1px solid black;
}

.desc{
    font-size: 1.4vw;
    width: 42rem;
}

.twobuttons{
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.play{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 6rem;
    border-radius: 5px;
    height: 0.8rem;
}
.info{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    width: 9rem;
    border-radius: 5px;
    height: 0.8rem;   
}

.play>h3{
    color: black;
}
.bottomright{
    display: inline-flex;
margin-top: 30rem;
margin-left: 49rem;
    
}



.refresh{
    width: 1.2rem;
    transform: rotate(45deg);
    margin-right: 1rem;
    filter: invert(1);
    border: 1px solid black;
    padding: 5px;
    border-radius: 100px;
}

.sevenplus{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    background-color: rgba(105, 105, 105, 0.5);
    height: 2rem;
    border-left: 2px solid white;
    width: 4rem;
}

body{
    background-image: url(nightbook.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom{
    margin-left: 3rem;  
    
}

footer{
    position: absolute;
    bottom: -3rem;
}

footer>.bottom>div{
    display: flex;
    justify-content: start;
    
}

footer>.bottom>div>img{
    padding: 2px;
    border-radius: 10px;
    width: 18rem;
}